/* Оформление боковой панели */
#side-checkbox {
    display: none;
}
.b_merch{
    background: none;
    color: #FFF;
    border: 0px;
}
.b_contacts{
    background: none;
    color: #FFF;
    border: 0px;
}
.div_contacts{
    margin-top: 10px;
}
.b_rozigrish{
    background: none;
    color: #FFF;
    border: 0px;
}
.div_rozigrish{
    margin-top: 10px;
}
.copyright{
    margin-top: 550px;
    color: rgba(222, 222, 222, 0.5);
}
.side-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: -360px;
    transition: all 0.5s;  
    width: 320px;
    height: 100vh;
    box-shadow: 10px 0 20px rgba(0,0,0,0.4);
    color: #FFF;
    padding: 40px 20px;
    backdrop-filter: blur(16px);
}
.side-title {
    margin-top: -8px;
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dedede;
}
/* Оформление кнопки на странице */
.side-button-1-wr {
    margin-top: 0px; /* Контейнер для кнопки, чтобы было удобнее ее разместить */
    margin-left: 0px;
}
.side-button-1 .side-b {
    margin: 10px;
    text-decoration: none;
    position: relative;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 10px;
    color: rgb(222, 222, 222);
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', Тahoma, sans-serif;
    cursor: pointer;
}
.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
    color: #dedede;
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
    position: absolute;
    height: 4px;
    left: 50%;
    bottom: -6px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
.side-button-1 .side-b:before {
    top: -6px;
}
.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
    width: 100%;
    left: 0;
}
/* Переключатели кнопки 1 */
.side-button-1 .side-close {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
    display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
    display: block;
}
#side-checkbox:checked + .side-panel {
    left: 0;
}
/* Оформление кнопки на панеле */
.side-button-2 {
    margin-top: -10px;
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transform: rotate(45deg);
    color: #dedede;   
    transition: all 280ms ease-in-out;   
}
.side-button-2:hover {
    transform: rotate(45deg) scale(1.1);   
    color: #FFF;
}